@model TiendaMascotas.Entities.ContactenosEnt
    
@{
    ViewBag.Title = "Home Page";
}


<section id="adopciones">
    <div class="container">
        <div class="about-wrapper">
            <div class="after"><h1>Adopciones</h1></div>
            <div class="content">
                <h5 class="title mb-3">Guía para optar por una adopción</h5>
                <div class="row">
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda soluta nisi cumque nostrum porro repellat iusto neque quos asperiores, aliquam.</p>
                        <p><b>Adipisicing elit. Modi similique  iusto voluptatibus sint.</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                    </div>
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda soluta nisi cumque nostrum porro repellat iusto neque quos asperiores, aliquam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                    </div>
                </div>
            </div>
            <!--<a href="javascript:void(0)">Ver animales en adopción...</a>--> <!--Revisar como generar el hipervinculo aqui-->
            @*hola*@
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after"></div>
                    <img src="~/assets/imgs/img-1.jpg" class="w-100" alt="About Us">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Información sobre los Perros</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem rem impedit molestiae hic ducimus, consequuntur ullam dolorem quaerat beatae labore explicabo, sint laboriosam aperiam nihil inventore facilis. Quasi, facilis.</p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, amet!</p>
                <a href="@Url.Action("AdopcionPerros", "Perros")" class="btn btn-outline-primary btn-sm">Adoptar Perros</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5">
                <h6 class="title mb-3">Información sobre los Gatos</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem rem impedit molestiae hic ducimus, consequuntur ullam dolorem quaerat beatae labore explicabo, sint laboriosam aperiam nihil inventore facilis. Quasi, facilis.</p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, amet!</p>
                <a href="@Url.Action("AdopcionGatos", "Gatos")" class="btn btn-outline-primary btn-sm">Adoptar Gatos</a>

            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after right"></div>
                    <img src="~/assets/imgs/img-2.jpg" class="w-100" alt="About Us">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="has-bg-img" id="productos">
    <div class="overlay"></div>
    <a data-toggle="modal" href="#exampleModalCenter">
        <i></i>
    </a>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <iframe width="100%" height="450px" class="border-0"
                        src="https://www.youtube.com/embed/TQwLy0fxMgQ">
                </iframe>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after"></div>
                    <img src="~/assets/imgs/img-3.jpg" class="w-100" alt="About us">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Productos</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem rem impedit molestiae hic ducimus, consequuntur ullam dolorem quaerat beatae labore explicabo, sint laboriosam aperiam nihil inventore facilis. Quasi, facilis.</p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, amet!</p>
                <a href="@Url.Action("ProductosVenta", "Productos")" class="btn btn-outline-primary btn-sm">Ver artículos</a>
            </div>
        </div>
    </div>
</section>


<section class="text-center pt-5" id="about">
    <div class="container">
        <h3 class="mt-3 mb-5 pb-5">Integrantes del Equipo</h3>

        <div class="row">
            <div class="col-sm-10 col-md-3 m-auto">
                <div class="testmonial-wrapper">
                    <img src="~/assets/imgs/avatar1.jpg" alt="Client Image">
                    <h6 class="title mb-3">Christian Agüero</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptates voluptatem eum nisi cumque veniam est id reprehenderit atque rerum, cum sit perspiciatis, harum cupiditate nostrum quibusdam perferendis accusamus, illo.</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-3 m-auto">
                <div class="testmonial-wrapper">
                    <img src="~/assets/imgs/avatar2.jpg" alt="Client Image">
                    <h6 class="title mb-3">Kevin Cespedes</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptates voluptatem eum nisi cumque veniam est id reprehenderit atque rerum, cum sit perspiciatis, harum cupiditate nostrum quibusdam perferendis accusamus, illo.</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-3 m-auto">
                <div class="testmonial-wrapper">
                    <img src="~/assets/imgs/avatar3.jpg" alt="Client Image">
                    <h6 class="title mb-3">Gerson Fernández</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptates voluptatem eum nisi cumque veniam est id reprehenderit atque rerum, cum sit perspiciatis, harum cupiditate nostrum quibusdam perferendis accusamus, illo.</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-3 m-auto">
                <div class="testmonial-wrapper">
                    <img src="~/assets/imgs/avatar4.jpg" alt="Client Image">
                    <h6 class="title mb-3">Mario Molina</h6>
                    <p>Estudiante de ingeniería en Sistemas, actualmente está cursando el sexto cuatrimestre. Vecino de Guadalupe, San José. Entre sus pasiones está aprender nuevas cosas tecnologías, caminar en la naturaleza, hacer deportes y pasar tiempo en casa.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="has-bg-img text-center text-light height-auto" style="background-image: url('../../assets/imgs/bg-img-2.jpg');">
    <h1 class="display-4">UNA MASCOTA CAMBIA LA VIDA</h1>
</section>

<section id="contact" class="text-center">
    <div class="container">
        <h1>CONTÁCTENOS</h1>
        <p class="mb-5">
            Si tiene alguna pregunta o necesita algo! Por favor contáctenos! <br>
            Le responderemos tan pronto sea posible
        </p>

        @using (Html.BeginForm("Contactenos", "Home", FormMethod.Post, new { @class = "contact-form col-md-11 col-lg-9 mx-auto" }))
        {
            <div class="form-row">
                <div class="col form-group">
                    @Html.TextBoxFor(Model => Model.Nombre, new
                        {
                            @placeholder = "Nombre",
                            @autocomplete = "Off",
                            @required = true,
                            @class = "form-control"
                        })
                </div>
                <div class="col form-group">
                    @Html.TextBoxFor(Model => Model.CorreoElectronico, new
                    {
                        @placeholder = "Correo",
                        @autocomplete = "Off",
                        @required = true,
                        @type = "email",
                        @class = "form-control"
                    })
                </div>
            </div>
            <div class="form-group">
                    @Html.TextAreaFor(Model => Model.Mensaje, new
                    {
                        @placeholder = "Su mensaje",
                        @autocomplete = "Off",
                        @required = true,
                        @cols="30",
                        @rows="5",
                        @class = "form-control"
                    })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" id="btMensaje" value="Enviar mensaje">
            </div>
        }
    </div>
</section>