@model TiendaMascotas.Entities.UsuariosEnt

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h2>Tienda de mascotas</h2>

@*@Html.ActionLink("Home", "index", "Home", null, new { @class = "btn btn-warning" })*@
@*Este es el botón que devuelve al HOME, pero si se habilita el CSS se desmadra*@

<div class="container" id="container">
    <div class="form-container sign-up-container">
        @using (Html.BeginForm("Registrar", "Home", FormMethod.Post))
        {
            <h1>Crear Cuenta</h1>
            @*<div class="social-container">
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>o use su correo para registrarse</span>*@

            @Html.TextBoxFor(Model => Model.Cedula, new
            {
                @placeholder = "Cédula",
                @autocomplete = "Off",
                @required = true,
                @onblur = "BuscarID();"
            })

            @Html.TextBoxFor(Model => Model.Nombre, new
            {
                @placeholder = "Nombre",
                @autocomplete = "Off",
                @required = true,
                @readOnly = true
            })

            @Html.TextBoxFor(Model => Model.CorreoElectronico, new
            {
               @placeholder = "Correo Electrónico",
               @autocomplete = "Off",
               @required = true,
               @type = "email",
               @onblur = "ValidarRegistrar();"
            })

            @Html.PasswordFor(Model => Model.Contrasenna, new
            {
                @placeholder = "Contraseña",
                @autocomplete = "Off",
                @required = true,
                @onblur = "ValidarContrasenna();"
            })

            @Html.PasswordFor(Model => Model.ConfirmarContrasenna, new
            {
                @placeholder = "Confirmar Contraseña",
                @autocomplete = "Off",
                @required = true,
                @onblur = "ValidarContrasenna();"
            })

            <input type="Submit" id="btRegistrarse" value="Registrarse">
            <!--<button>Registrarse</button>-->
        }
    </div>
    <div class="form-container sign-in-container">
        @using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post))
        {
            <h1>Iniciar Sesión</h1>
            <br /><br />
            @*<div class="social-container">
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>o utilice su cuenta personal</span>*@

            @Html.TextBoxFor(Model => Model.CorreoElectronico, new
            {
                @placeholder = "Correo Electrónico",
                autocomplete = "Off",
                @type = "email",
                @required = true
            })

            @Html.PasswordFor(Model => Model.Contrasenna, new
            {
                @placeholder = "Contraseña",
                autocomplete = "Off",
                @required = true
            })

            <a href="@Url.Action("RecuperarContrasenna", "Home")" class="nav-link btn btn-primary">¿Olvidó su contraseña?</a>
            <div style="text-align:center; color:red;">
                @ViewBag.mensaje
            </div>
            <input type="Submit" value="Iniciar Sesión"> <!--Buscar la clase por defecto para el CSS-->
            <!--<button>Iniciar Sesión</button>-->
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Bienvenido!</h1>
                <p>Para mantenerse conectado con nosotros, por favor inicie sesión</p>
                <button class="ghost" id="signIn">Iniciar Sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hola, amigos!</h1>
                <p>Registre sus datos para poder unirse a nosotros</p>
                <button class="ghost" id="signUp">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/BuscarID.js"></script>
<script src="~/assets/js/FuncionesLogin.js"></script>