@model IEnumerable<TiendaMascotas.Entities.AnimalesEnt>
@{
    ViewBag.Title = "AdopcionPerros";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}

<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item">
                                <a href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li>
                                @if (Session["NombreUsuario"] != null)
                                {
                                    <p style="color:#FFFFFF">Usuario @Session["NombreUsuario"].ToString()</p>
                                }
                            </li>
                            <li>
                                <div class="header-icons">
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Buscar:</h3>
                        <input type="text" placeholder="Escriba palabras claves">
                        <button type="submit">Buscar <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Adopte un lindo</p>
                    <h1>Perrito</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-100 mb-150">
    <li class="col-lg-12 col-md-6 text-center strawberry">
        <h3>Registre un animal</h3>
        <a href="@Url.Action("RegistrarAnimal", "Perros")">¡Haz click aquí!</a>
    </li>
    <br>
    <br>
    <br>
    <br>
    <h1 class="col-lg-12 col-md-6 text-center strawberry">
        Lista de perritos en adopcion
    </h1>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row product-lists">

            @foreach (var item in Model)
            {
                if (item.tipoAnimal == "perro")
                {
                    <div class="col-lg-4 col-md-6 text-center strawberry">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="cart.html"><img src="~/assets/imgperros/Ruffos.jpg" alt=""></a>
                            </div>
                            <h1>@item.Nombre</h1>
                            <h5>Tipo de animal: @item.tipoAnimal</h5>
                            <h5>Descripcion: @item.Descripcion</h5>
                            @if (item.Estado)
                            {
                                <h5>Estado: Sin adoptar </h5>
                            }
                            else
                            {
                                <h5>Estado: Adoptado </h5>
                            }

                            <br />
                            <a class="cart-btn" href="@Url.Action("FormPerro", "Perros")"><img src="~/assets/imgs/form.png" alt="">Llenar Formulario</a>
                            <br>
                            <br />
                            <a class="cart-btn" href="@Url.Action("ActualizarAnimales", "Perros", new { q = item.idAnimal})"><img src="~/assets/imgs/form.png" alt="">Actualizar animal</a>
                            <br>
                            <br />
                            <a href="#" class="cart-btn openModal" data-toggle="modal" data-target="#exampleModalCenter"
                               data-backdrop="static" data-keyboard="false" data-id=@item.idAnimal>Eliminar de la lista</a>

                        </div>
                    </div>

                }
            }


            @* Dejo esto comentado por si lo llegamos a necesitar *@
            @*<div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html"><img src="assets/img/products/product-img-6.jpg" alt=""></a>
                        </div>
                        <h3>Strawberry</h3>
                        <p class="product-price"><span>Per Kg</span> 80$ </p>
                        <a class="cart-btn" href="@Url.Action("FormPerro", "Perros")"><img src="~/assets/imgs/form.png" alt=""> Llenar Formulario</a>
                    </div>
                </div>*@

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black">
                ¿Seguro qué desea cambiar el estado actual del animal?
                <input type="hidden" id="idModalHidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CambiarEstadoAnimal();">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/assets/js/Animales.js"></script>