@model IEnumerable<TiendaMascotas.Entities.AnimalesEnt>
@{
    ViewBag.Title = "AdopcionGatos";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}

<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Buscar:</h3>
                        <input type="text" placeholder="Escriba palabras claves">
                        <button type="submit">Buscar <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Adopte un lindo</p>
                    <h1>Gatito</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-100 mb-150">
            @if (Session["rol"] != null)
            {
                if (Convert.ToInt32(Session["rol"].ToString()) == 1)
                {
                <li class="col-lg-12 col-md-6 text-center strawberry">
                    <h3>Registre un animal</h3>
                    <a href="@Url.Action("RegistrarAnimal", "Gatos")">¡Haz click aquí!</a>
                </li>
                }
            }   
            <br>
            <br>
            <br>
            <br>
            <h1 class="col-lg-12 col-md-6 text-center strawberry">
                Lista de gatitos en adopción
            </h1>
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row product-lists">

                    @if (Convert.ToInt32(Session["rol"].ToString()) == 1)
                    {
                        foreach (var item in Model)
                        {
                            if (item.tipoAnimal == "gato" && item.Estado == true)
                            {
                                <div class="col-lg-4 col-md-6 text-center strawberry">
                                    <div class="single-product-item">
                                        <div class="product-image">
                                            @{
                                                var base64 = Convert.ToBase64String(item.imagen);
                                                var imagensrc = string.Format("data:image/gif;base64,{0}", base64);
                                            }
                                            @*<a href="cart.html"><img src="~/assets/imgperros/Ruffos.jpg" alt=""></a>*@
                                            <img src="@imagensrc" style="max-height: 1200px; max-width: 900px" />
                                        </div>
                                        <h1>@item.Nombre</h1>
                                        <h5>Tipo de animal: @item.tipoAnimal</h5>
                                        <h5>Descripción: @item.Descripcion</h5>
                                        @if (item.Estado)
                                        {
                                            <h5>Estado: Sin adoptar </h5>
                                        }
                                        else
                                        {
                                            <h5>Estado: Adoptado </h5>
                                        }

                                        <a href="#" class="cart-btn openModal2" data-toggle="modal" data-target="#exampleModalCenter2"
                                           data-backdrop="static" data-keyboard="false" data-idAnimal="@item.idAnimal" data-idTAnimal="@item.tipoAnimal" data-Cedula="@Session["Cedula"].ToString()">Solicitar adopción</a>
                                        <br>
                                        <br />
                                        <a class="cart-btn" href="@Url.Action("ActualizarAnimales", "Gatos", new { q = item.idAnimal })"><img src="~/assets/imgs/form.png" alt="">Actualizar animal</a>
                                        <br>
                                        <br />
                                        <a href="#" class="cart-btn openModal" data-toggle="modal" data-target="#exampleModalCenter"
                                            data-backdrop="static" data-keyboard="false" data-id=@item.idAnimal>Eliminar de la lista</a>
                                    </div>
                                </div>

                            }
                        }
                        if (!Model.Any(item => item.tipoAnimal == "gato"))
                        {
                            <h3 class="col-lg-12 col-md-6 text-center strawberry">
                                No hay animales en adopción en este momento
                            </h3>
                        }
                    }
                    else if (Convert.ToInt32(Session["rol"].ToString()) == 2)
                    {
                        foreach (var item in Model)
                        {
                            if (item.tipoAnimal == "gato" && item.Estado == true)
                            {
                                <div class="col-lg-4 col-md-6 text-center strawberry">
                                    <div class="single-product-item">
                                        <div class="product-image">
                                            @{
                                                var base64 = Convert.ToBase64String(item.imagen);
                                                var imagensrc = string.Format("data:image/gif;base64,{0}", base64);
                                            }
                                            <img src="@imagensrc" style="max-height: 1200px; max-width: 900px" />
                                        </div>
                                        <h1>@item.Nombre</h1>
                                        <h5>Tipo de animal: @item.tipoAnimal</h5>
                                        <h5>Descripción: @item.Descripcion</h5>
                                        @if (item.Estado)
                                        {
                                            <h5>Estado: Sin adoptar </h5>
                                        }
                                        else
                                        {
                                            <h5>Estado: Adoptado </h5>
                                        }
                                        <br />
                                        <a href="#" class="cart-btn openModal2" data-toggle="modal" data-target="#exampleModalCenter2"
                                           data-backdrop="static" data-keyboard="false" data-idAnimal="@item.idAnimal" data-idTAnimal="@item.tipoAnimal" data-Cedula="@Session["Cedula"].ToString()">Solicitar adopción</a>
                                        <br>
                                        <br />
                                    </div>
                                </div>

                            }
                        }
                        if (!Model.Any(item => item.tipoAnimal == "perro" && item.Estado == true))
                        {
                            <h3 class="col-lg-12 col-md-6 text-center strawberry">
                                No hay animales en adopción en este momento
                            </h3>
                        }
                    }
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black">
                ¿Seguro qué desea cambiar el estado actual del animal?
                <input type="hidden" id="idModalHidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CambiarEstadoAnimal2();">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal solicitud -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle2">Solicitar adopcion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black">
                ¿Seguro qué desea solicitar la adopción de este animal?
                <input type="hidden" id="idModalHidden2" />
                <input type="hidden" id="idModalHidden3" />
                <input type="hidden" id="idModalHidden4" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SolicitudAdopcion();">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/assets/js/Animales.js"></script>