@model TiendaMascotas.Entities.ProductoEnt
@{
    ViewBag.Title = "ActualizarProducto";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}


<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Actualizando</p>
                    <h1>Producto</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-section mt-100 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

                <h2>Ingrese los datos nuevos que desea actualizar</h2>
                <br>
                <br>

                @using (Html.BeginForm("ActualizarProducto", "Productos", FormMethod.Post, new { @class = "pt-3" }))
                {

                    @Html.HiddenFor(Model => Model.idProducto)

                    <!-- corregir diseño inputs, seguir trabajando en crud-->
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.nombre, new
                   {
                       @class = "form-control form-control-lg",
                       @placeholder = "Nombre del producto",
                       @autocomplete = "Off",
                       @required = true
                   })
                    </div>

                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.descripcion, new
                   {
                       @class = "form-control form-control-lg",
                       @placeholder = "Descripcion",
                       @autocomplete = "Off",
                       @required = true
                   })
                    </div>

                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.cantidad, new
                   {
                       @class = "form-control form-control-lg",
                       @placeholder = "Cantidad",
                       @autocomplete = "Off",
                       @required = true
                   })
                    </div>

                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.precio, new
                   {
                       @class = "form-control form-control-lg",
                       @placeholder = "Precio",
                       @autocomplete = "Off",
                       @required = true
                   })
                    </div>

                    <br>
                    <br>

                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.descuento, new
                   {
                       @class = "form-control form-control-lg",
                       @placeholder = "Descuento",
                       @autocomplete = "Off",
                       @required = true
                   })
                    </div>



                    <br>
                    <div class="mt-3">

                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 text-center">
                                <input type="submit" id="btnRegistrar" value="Registrar" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>

    </div>
</div>


