@model IEnumerable<TiendaMascotas.Entities.DetalleComprasEnt>
@{
    ViewBag.Title = "ProductoCarrito";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}

<link href="~/assets/css/productos.css" rel="stylesheet" type="text/css" />

<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Buscar:</h3>
                        <input type="text" placeholder="Escriba palabras claves">
                        <button type="submit">Buscar <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Carrito de Compra</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end breadcrumb section -->

<div class="row">

    <div class="col-md-1 grid-margin stretch-card">
    </div>

    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle a pagar</h4>

                <table class="table table-hover" id="tablaDetalleCarrito">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>¢ Precio</th>
                            <th>¢ Sub Total</th>
                            <th>¢ Impuesto</th>
                            <th>¢ Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Cantidad</td>
                                <td>@string.Format("{0:n2}", @item.Precio)</td>
                                <td>@string.Format("{0:n2}", @item.SubTotal)</td>
                                <td>@string.Format("{0:n2}", @item.Impuesto)</td>
                                <td>@string.Format("{0:n2}", @item.Total)</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <br />
                <br />

                <a class="cart-btn product-btn" onclick="Pagando()"> Realizar Pago<a>

                @*@using (Html.BeginForm("ConfirmarPago", "Pagos", FormMethod.Post))
                {
                    var x = string.Format("{0:n2}", @ViewBag.Totalizador);
                    <Label>Total a pagar: </Label> @x;

                    if (decimal.Parse(@x) > 0)
                    {
                        <input type="submit" value="Realizar Pago" class="btn btn-success">
                    }



                }*@






            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $('#tablaDetalleCarrito').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });
    });

    function RecargarPantalla() {
        window.location.href = "/Productos/ProductoCarrito";
    }


    function Pagando() {

            $.ajax({
                type: "POST",
                url: "/Pagos/ConfirmarPago",
                dataType: "json",
                success: function (res) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'Pago efectuado exitosamente',
                        showConfirmButton: false,
                        timer: 2000
                    })

                    setTimeout(function () {
                        RecargarPantalla();
                    }, 2200);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                            position: 'top-center',
                            icon: 'error',
                            title: 'Error al ejecutar el pago del carrito',
                            text: '@TempData["ErrorMessage"]',
                            showConfirmButton: false,
                            timer: 2000
                        })
                }
            });

        

    }
</script> 