@model TiendaMascotas.Entities.ProductoEnt
@{
    ViewBag.Title = "RegistrarProducto";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}




<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item">
                                <a href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li>
                                @if (Session["NombreUsuario"] != null)
                                {
                                    <p style="color:#FFFFFF">Usuario @Session["NombreUsuario"].ToString()</p>
                                }
                            </li>
                            <li>
                                <div class="header-icons">
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Buscar:</h3>
                        <input type="text" placeholder="Escriba palabras claves">
                        <button type="submit">Buscar <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Registro de</p>
                    <h1>Productos</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->

<div class="product-section mt-100 mb-150">


    <div class="product-section mt-100 mb-150">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">

                    <h2>Ingrese los datos del producto que desea registrar</h2>
                    <br>
                    <br>

                    @using (Html.BeginForm("RegistrarProducto", "Productos", FormMethod.Post, new { @class = "pt-3" }))
                    {

                        <div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.nombre, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Nombre del producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                        </div>
                        <br>
                        <div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.descripcion, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Descripción del producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                        </div>
                        <br>
                        <div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.cantidad, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Cantidad del producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                        </div>
                        <br>
                        <div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.precio, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Precio del producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                        </div>
                        <br>
                        @*<div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.idTipoProducto, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Tipo de producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                        </div>*@
                        <br>
                        <div class="form-group col-lg-8 offset-lg-2 text-center">
                            @Html.TextBoxFor(Model => Model.descuento, new
                            {
                               @class = "form-control form-control-lg",
                               @placeholder = "Descuento del producto",
                               @autocomplete = "Off",
                               @required = true
                            })
                            </div>
                            
                            <div class="mt-3">

                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8 offset-lg-2 text-center">
                                        <input type="submit" id="btnRegistrar" value="Registrar" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                    </div>
                                </div>

                            </div>

                        }
                </div>
            </div>

        </div>
</div>