<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <title>Adopción animales</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="~/assets/img/favicon.png" rel="shortcut icon" type="image/png" />
    <link href="~/assets/css_adopciones/all.min.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/animate.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/meanmenu.min.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/main.css" rel="stylesheet" />
    <link href="~/assets/css_adopciones/responsive.css" rel="stylesheet" />
    <link href="~/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/creative-design.css" rel="stylesheet" />

    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <div class="text-center">
                        <div class="main-menu-wrap">
                            <!-- menu start -->
                            <nav class="main-menu">
                                <ul>
                                    <!---unidades en carrito y total-->
                                    @if (Session["rol"] != null)
                                    {
                                        if (Convert.ToInt32(Session["rol"].ToString()) == 2)
                                        {
                                            <li class="float-left">
                                                Unidades en Carrito: @(Session["CantidadCompra"] == null ? 0 : Convert.ToInt32(Session["CantidadCompra"]))
                                                Precio Total: @((Session["MontoCompra"] != null) ? string.Format("¢{0:n2}", decimal.Parse(Session["MontoCompra"].ToString())) : "")
                                            </li>
                                        }
                                    }

                                    <!---unidades en carrito y total-->


                                    <li class="current-list-item">
                                        <a href="@Url.Action("Index", "Home")">HOME</a>
                                    </li>
                                    <li>
                                        @if (Session["NombreUsuario"] != null)
                                        {
                                            <p style="color:#FFFFFF">@Session["NombreUsuario"].ToString()</p>
                                        }
                                    </li>
                                    <li>
                                        <div class="header-icons">
                                            @if (Session["Correo"] != null)
                                            {
                                                <p>@Session["Correo"].ToString()</p>
                                            }
                                        </div>
                                    </li>


                                    <!---boton ver carrito-->
                                    @if (Session["rol"] != null)
                                    {
                                        if (Convert.ToInt32(Session["rol"].ToString()) == 2)
                                        {
                                            <li class="float-right">
                                                <a href="@Url.Action("ProductoCarrito", "Productos")">
                                                    <img src="~/assets/imgs/carshop.png" alt=""> Ver Carrito
                                                </a>
                                            </li>

                                        }
                                    }
                                    <!---boton ver carrito-->


                                </ul>
                            </nav>
                            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                            <div class="mobile-menu"></div>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>



<body>

    @RenderBody()

    <section class="pb-0">
        <div class="container">
            <div class="pre-footer">
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">ACERCA DE NOSOTROS</h6>
                    </li>
                    <li class="list-body">
                        <p>¡Bienvenidos a nuestra página web! Somos una organización sin fines de lucro dedicada a ayudar a los animales necesitados en nuestra comunidad. Nuestra misión es proporcionar rescate, cuidado, refugio y adopción a animales abandonados y maltratados. Además, trabajamos para educar y concientizar a la comunidad sobre la importancia de la responsabilidad y el cuidado adecuado de las mascotas. ¡Gracias por visitarnos y por considerar apoyar nuestra causa!</p>
                        <a href="#"><strong class="text-primary">Proyecto</strong> <span class="text-dark">MascoWEB</span></a>
                    </li>
                </ul>
                <ul class="list">
                    
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">INFORMACIÓN DE CONTACTO</h6>
                    </li>
                    <li class="list-body">
                        <p>Contáctenos y le responderemos en menos de 24 horas.</p>
                        <p><i class="ti-location-pin"></i> Ubicados en San Pedro, Universidad Fidélitas</p>
                        <p><i class="ti-email"></i>  ufide@ufide.ac.cr</p>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>

            <footer class="footer">
                <p>
                    Copyright
                    <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a>
                </p>
            </footer>

        </div>
    </section>
</body>

<script src="~/assets/jsadopciones/jquery-1.11.3.min.js"></script>
<script src="~/assets/jsadopciones/bootstrap.min.js"></script>
<script src="~/assets/jsadopciones/jquery.countdown.js"></script>
<script src="~/assets/jsadopciones/jquery.isotope-3.0.6.min.js"></script>
<script src="~/assets/jsadopciones/waypoints.js"></script>
<script src="~/assets/jsadopciones/owl.carousel.min.js"></script>
<script src="~/assets/jsadopciones/jquery.magnific-popup.min.js"></script>
<script src="~/assets/jsadopciones/jquery.meanmenu.min.js"></script>
<script src="~/assets/jsadopciones/sticker.js"></script>
<script src="~/assets/jsadopciones/main.js"></script>

</html>